<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../vue2.js"></script>
</head>
<body>
<div id="app">
    <button @click="getdom">获取div元素</button>
    <div ref="mydom">这是一个div</div>
    <button @click="getcom">获取组件</button>
    <sub1 ref="mysub"></sub1>
</div>
</body>
<script>

    var vm=new Vue({
        el:'#app',
        data:{

        },
        methods:{
            getdom:function () {
                console.log(this.$refs.mydom);
            },
            getcom:function () {
                console.log(this.$refs.mysub);
            }
        },
        components:{
            'sub1':{
                template:'<div>sub组件</div>'
            }
        }
    })
</script>
</html>