<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../vue2.js"></script>
    <script src="../vue-router231.js"></script>
</head>
<body>
<div id="app">
    <input type="text" v-model="firstName">
    <input type="text" v-model="lastName">
    {{fullName}}
</div>
</body>
<script>

    var vm=new Vue({
        el:'#app',
        data:{
            firstName:'梅',
            lastName:'豪',
            fullName:'美好'
        },
        watch:{
            firstName:function (newValue,oldValue) {
                //  console.log(oldValue);
                //  console.log(newValue);
                this.fullName=this.firstName+this.lastName
            },
            lastName:function (newValue,oldValue) {
                this.fullName=this.firstName+this.lastName
            }
        }
    })
</script>

</html>